.table-container{
    padding: 0 10%;
    margin: 40px auto 0;
    margin-top: 120px;
}

.heading{
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.tablce{
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.tablce thead{
    background: rgb(134, 16, 16);
}

.tablce thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: white;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}

.tablce tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #262323;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685 ;
}

.SearchInputss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}